<link rel="stylesheet" href="/css/home.css">
<form method="post" action="/register">
    <div class="input-group">
        <input type="text" id="name" name="name" required />
        <label for="name">Name</label>
    </div>
    <div class="input-group">
        <input type="email" id="email" name="email" required />
        <label for="email">Email</label>
    </div>
    <div class="input-group">
        <input type="text" id="deliveryTime" name="deliveryTime" required />
        <label for="deliveryTime">Delivery Time</label>
    </div>
    <div class="input-group">
        <input type="text" id="timezone" name="timezone" required />
        <label for="timezone">Timezone</label> 
    </div>
    <button type="submit">Submit</button>
</form>