<link rel="stylesheet" href="/css/registered.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
/>
<main>
  <h1>Update Successful</h1>
  <p>Your account has been updated successfully!</p>
  <span>If there's any changes you need to make, please use the link received in
    your email, together with the delivery news at the time you selected.</span>
</main>